{% extends 'base/principal.html' %} {% block content %}

<div class="navbar-sup">
  <div>
    <h1>¡Bienvenido {{ request.user | title }}!</h1>
    <h3 style="margin: 2px">
      Tienes <i>{{ count }}</i> tareas{{ count | pluralize }} incompletas
      {{count | pluralize }}
    </h3>
  </div>
  {% if request.user.is_authenticated %}
  <hr />
  <a href="{% url 'logout' %}">Salir</a>
  {% else %}
  <a href="{% url 'login' %}">Ingresar</a>
  {% endif %}
</div>
<div id="env-search">
  <form method="get" style="margin-top: 20px; display: flex">
    <input type="text" name="search" value="{{ values_search }}" />
    <input class="button" type="submit" value="Buscar" />
  </form>
  <a id="link-add" href="{% url 'create-task' %}">&#x2B;</a>
</div>

<div class="env-items">
  {% for task in tasks %}
  <div class="env-task">
    {% if task.complete %}
    <div class="task-title">
      <div class="icon-task-complete"></div>

      <i
        ><s><a href="{% url 'update-task' task.id %}">{{ task }}</a></s></i
      >
    </div>
    <a class="link-delete" href="{% url 'delete-task' task.id %}">&#x2717;</a>
    {% else %}
    <div class="task-title">
      <div class="icon-task-incomplete"></div>
      <a href="{% url 'update-task' task.id %}">{{ task }}</a>
    </div>
    <a class="link-delete" href="{% url 'delete-task' task.id %}">&#x2717;</a>
    {% endif %}
  </div>

  {% empty %}
  <h3>No elements</h3>
  {% endfor %}
</div>

{% endblock content %}
